.notAvailable{
    font-size: 2rem;
    text-align: center;
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    margin: 1rem;
    font-size: 2rem;
    color: rgba(74, 81, 90, 1);
}
